.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.leftContainer {
  flex-direction: column;
  margin-bottom: 200px;
  padding: 40px;
  margin-right: 60px;
}

.descriptionContainer {
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px 30px;
  border-left: 8px solid #FFEF61;
  max-width: 400px;
  margin-bottom: 30px;
}

.descriptionContainer p {
  font-size: 28px;
}

.descriptionContainer p:first-child {
  margin-bottom: 16px;
}

.logoBox {
  max-width: 200px;
  margin-bottom: 80px;
}

.logoBox img {
  width: 100%;
}

.imageContainer {
  justify-content: flex-end;
}

.imageBox {
  max-width: 500px
}

.imageBox img {
  width: 100%;
  height: auto;
}

.warningMessage {
  max-width: 450px;
}

.warningMessage p {
  text-align: justify;
  line-height: 1.5;
  font-weight: bold;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    flex-direction: column;
    padding: 20px;
  }
  .descriptionContainer {
    padding: 0 12px 0;
  }
  .descriptionContainer p:first-child {
    margin-bottom: 16px;
  }
  .leftContainer {
    margin-bottom: 50px;
    padding: 20px;
    margin-right: 0;
  }
  .logoBox {
    margin-bottom: 50px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

